*{
    color: rgb(221, 225, 230) ;
}
::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(209 213 219);
    border-radius: 5px;
}
.gradient{
    background: linear-gradient(to right bottom, rgb(23, 23, 27) 0%, rgb(40, 40, 47) 100%) !important;
}
.OrangeHover:hover{
    color: #ff6f00;
}